In [2]:
import pandas as pd

In [20]:
df_Budget = pd.read_csv(r"C:\Users\karki\Downloads\Starter_Code (4)\Starter_Code\PyBank\Resources\budget_data.csv")

In [24]:
df_Budget.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [199]:
df_total_months = len(df_Budget['Date'].value_counts())
df_total_months

86

In [53]:
df_Total = df_Budget['Profit/Losses'].sum()
df_Total

22564198

In [169]:
df_mean = df_Budget['Profit/Losses'].mean()
df_mean.round(decimals=2)

262374.4

In [173]:
max_index = df_Budget['Profit/Losses'].idxmax()
df_max = df_Budget.iloc[max_index]
df_max

Date              Mar-13
Profit/Losses    1141840
Name: 38, dtype: object

In [191]:
min_least = df_Budget['Profit/Losses'].idxmin()
df_min = df_Budget.iloc[min_least]
df_min

Date               Dec-10
Profit/Losses    -1194133
Name: 11, dtype: object

In [195]:
print('Financial analysis')
print('----------------------------------')
print('Total Months :') 
print(df_total_months)
print("Total Profit/Losses:")
print(df_Total)
print('Average Change: ')
print(df_mean.round(decimals=2))

print('Greatest Increase in Profits:')
print(df_max)
print('---------------------------')
print('Greatest Decrease in Profits:')
print(df_min)

Financial analysis
----------------------------------
Total Months :
86
Total Profit/Losses:
22564198
Average Change:
262374.4
Greatest Increase in Profits:
Date              Mar-13
Profit/Losses    1141840
Name: 38, dtype: object
---------------------------
Greatest Decrease in Profits:
Date               Dec-10
Profit/Losses    -1194133
Name: 11, dtype: object